<%= form_tag("/api/v1/categories", method: "post") do %>
  <%= text_field_tag(:name, "Add New Category") %>
  <%= submit_tag("Add") %>
<% end %>
<p style="text-align:center"><a href="/metrics">Want metrics?</a></br></p>

<ol>
<% @failures.each do |failure| %>
  <li>
    <%= form_for [:api, :v1, failure], format: :json  do |f| %>
      <%= f.text_field :pipeline, readonly: true %>
      <%= f.text_field :job, readonly: true %>
      <%= f.text_field :build, readonly: true %>
      <%= f.text_field :task %>
      <%= f.select :category, Category.all.collect(&:name), include_blank: true %>
      <%= f.text_area :description %>

      <%= f.submit %>
    <% end %>
  </li>
<% end %>
</ol>
