<div class="text-center" style="padding: 20px 0px">
  <a class="pull-left" href="/metrics">Want metrics?</a>
  <%= form_tag('/api/v1/categories', method: 'post', :class => 'pull-right') do %>
    <%= text_field_tag(:name, 'Add New Category') %>
    <%= submit_tag('Add') %>
  <% end %>
  <br />
</div>


<table class="table table-striped">
  <tr>
      <th>Pipeline</th>
      <th>Job</th>
      <th>Build</th>
      <th>Task</th>
      <th>Category</th>
      <th>Description</th>
      <th>&nbsp;</th>
  </tr>

  <% @failures.each do |failure| %>
  <tr>
    <%= form_for [:api, :v1, failure], format: :json  do |f| %>
      <td><%= f.text_field :pipeline, readonly: true %></td>
      <td><%= f.text_field :job, readonly: true %></td>
      <td><%= f.text_field :build, readonly: true %></td>
      <td><%= f.text_field :task %></td>
      <td><%= f.select :category, Category.all.collect(&:name), include_blank: true %></td>
      <td><%= f.text_area :description %></td>
      <td><%= f.submit %></td>
    <% end %>
  </tr>
  <% end %>
</table>
